<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <app-navbar></app-navbar>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->

                <div class="row d-sm-flex align-items-center justify-content-between mb-5">
                    <h1 class="h3 mb-0 text-gray-800">Liste des clients</h1>
                </div>

                <!-- Content Row -->
                <div class="row">
                    <div class="card-body">

                        <p-table #dt1 [value]="clt" [paginator]="true" [rows]="5" dataKey="id"
                            [showCurrentPageReport]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [rowsPerPageOptions]="[5,10,20]"
                            [globalFilterFields]="['Nom_Client','Nom_Commercial','Categorie_Tarifaire','Region']">

                            <ng-template pTemplate="caption">
                                <div class="p-d-flex">
                                    <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                                        (click)="clear(dt1)"></button>
                                    <span class="p-input-icon-left p-ml-auto">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text"
                                            (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                            placeholder="Rechercher..." />
                                    </span>
                                </div>
                            </ng-template>

                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Client</th>
                                    <th>Catégorie tarifaire</th>
                                    <th>Commercial</th>
                                    <th>Région</th>
                                    <th style="width: 8rem"></th>
                                </tr>
                                <tr>
                                    <th>
                                        <input pInputText type="text"
                                            (input)="dt1.filter($event.target.value, 'Nom_Client', 'contains')"
                                            placeholder="" class="p-column-filter">
                                    </th>

                                    <th>
                                        <p-columnFilter field="Categorie_Tarifaire" matchMode="equals"
                                            [showMenu]="false" >
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <p-dropdown #dpcat [ngModel]="value" [options]="CatTarif"
                                                    [autoDisplayFirst]="false" (onChange)="filter($event.value)"
                                                     [showClear]="true"
                                                    (onChange)="GetSelectedCat()">
                                                    <ng-template let-option pTemplate="item">
                                                        <span [class]="option">{{option.label}}</span>
                                                    </ng-template>
                                                </p-dropdown>
                                            </ng-template>
                                        </p-columnFilter>
                                    </th>
                                    <th>
                                        <p-columnFilter field="Nom_Commercial" matchMode="equals" [showMenu]="false">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <p-dropdown #dpcom [ngModel]="value" [options]="Com"
                                                    [autoDisplayFirst]="false" (onChange)="filter($event.value)"
                                                    placeholder="" [showClear]="true" 
                                                    (onChange)="GetSelectedCom()">
                                                    <ng-template let-option pTemplate="item">
                                                        <span [class]="option">{{option.label}}</span>
                                                    </ng-template>
                                                </p-dropdown>
                                            </ng-template>
                                        </p-columnFilter>
                                    </th>
                                    <th>
                                        <p-columnFilter field="Region" matchMode="equals" [showMenu]="false">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <p-dropdown #dpreg [ngModel]="value" [autoDisplayFirst]="false"
                                                    [options]="Reg" (onChange)="filter($event.value)" placeholder=""
                                                    [showClear]="true" [filter]="true"  (onChange)="GetSelectedReg()">
                                                    <ng-template let-option pTemplate="item">
                                                        <span [class]="option">{{option.label}}</span>
                                                    </ng-template>
                                                </p-dropdown>
                                            </ng-template>
                                        </p-columnFilter>
                                    </th>
                                    <th>
                                        <button pButton label="Clear" class="p-button-outlined"
                                            icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-c>
                                <tr>

                                    <td>{{c.Nom_Client}}</td>
                                    <td>{{c.Categorie_Tarifaire}}</td>
                                    <td>{{c.Nom_Commercial}}</td>
                                    <td>{{c.Region}}</td>
                                    <td><button type="button" class="btn btn-success btn-sm"
                                            [routerLink]="['/clients/fiche-client',c.id]">Voir plus</button></td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="5">Aucun client trouvé.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <app-footer></app-footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>